body {
    background-color: lightblue; 
    color: green; 
    font-size: 16px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

h1 {
    color: #FF474C; 
    font-family: 'Times New Roman', serif; 
    text-align: center;
}

hr {
    border: 1px solid #4A90E2; 
}
